<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Maturidade Online</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/select2css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <img src="~/Content/img/logo-cwi.png" height="20%" width="20%" />

            <div class="navbar-header">
                <span class="navbar-brand">Maturidade Online</span>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projeto", "Listar", "Projeto")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pilar", "Listar", "Pilar")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Subtópico", "Listar", "Subtopico")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Característica", "Listar", "Caracteristica")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Logout", "Deslogar", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")


    @RenderSection("scripts", required: false)
</body>
</html>
