@model Maturidade_Online.Models.PesquisarSubtopicosRespostaViewModel

@if (Model != null)
{

    <table class="table table-striped" id="listagem-subtopicos">
        <thead>
            <tr>
                <th>Pilar</th>
                <th class="text-center">Subtópico</th>
                <th class="text-center">Atendido</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var subtopico in Model.listaDeSubtopicos)
            {
                <tr id="subtopico">
                    <td>@subtopico.Pilar.Titulo</td>
                    <td class="text-center">@subtopico.Nome</td>
                    <td class="text-center">
                        @if (Model.Projeto != null)
                        {
                            <input data-pontuacao="@subtopico.Pontuacao" id="ids-subtopicos" type="checkbox" value="@subtopico.Id" name="IdsSubtopicos" @(Model.Projeto.Subtopicos.Any(_ => _.Id == subtopico.Id)?"checked":"") />
                        }
                        else
                        {
                            <input data-pontuacao="@subtopico.Pontuacao" id="ids-subtopicos" type="checkbox" value="@subtopico.Id" name="IdsSubtopicos" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}