@model Maturidade_Online.Models.CaracteristicaViewModel

@{
    ViewBag.Title = "Caracteristica";
}

<div>
    <legend>@(Model.Id > 0 ? "Editar" : "Cadastrar" ) @ViewBag.Title</legend>
</div>

<div class="alerta-erro">
    @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
    </div>
}

@using (Html.BeginForm("Salvar", "Caracteristica", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", placeholder = "Nome" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <div class="form-group">
        <button id="cadastrar-pilar" type="submit" class="btn btn-sm btn-success pull-right" value="Salvar">Salvar</button>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Subtópicos</strong>
        <a href="/Subtopico/Manter" class="btn btn-xs btn-success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Novo Subtópico</span>
        </a>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subtopico in Model.ListaDeSubtopicos)
                {
                    <tr>
                        <td>
                            @Html.DisplayTextFor(model => subtopico.Nome)
                        </td>
                        <td>
                            <input type="checkbox" checked="@(Model.Subtopicos !=null && Model.Subtopicos.Any(s => s.Id == subtopico.Id))" value="@subtopico.Id" name="IdsSubtopicos" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div>
    @Html.ActionLink("Listar", "Listar", "Caracteristica", "", new { @class = "btn btn-default pull-right" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
