@model IEnumerable<Maturidade_Online.Models.SubtopicoViewModel>

@{
    ViewBag.Title = "Subtópicos";
}

<h2 class="text-center">Subtópicos</h2>

<div class="pull-right">
    @Html.ActionLink("Novo Subtópico", "Manter", "Subtopico", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-striped table-reponsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-center">
                @Html.DisplayName("Pilar")
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Pontuacao)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Pilar.Titulo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Pontuacao)
                </td>
                <td>
                    <a class="glyphicon glyphicon-pencil" href="~/Subtopico/Manter/@item.Id"></a>
                </td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="~/Subtopico/Excluir/@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>

</table>
