@model Maturidade_Online.Models.SubtopicoViewModel

@{
    ViewBag.Title = "Subtópico";
}



<div>
    <legend>@(Model.Id > 0 ? "Editar" : "Cadastrar" ) @ViewBag.Title</legend>
</div>

<div class="alerta-erro">
    @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
    </div>
}

@using (Html.BeginForm("Salvar", "Subtopico", FormMethod.Post, new { @class = "form-horizontal col-xs-12" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { maxlength = 100, @class = "form-control", placeholder = "Nome" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, "Descrição")
        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", placeholder = "Descrição", @rows = 3 })
        @Html.ValidationMessageFor(model => model.Descricao)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pontuacao, "Pontuação")
        @Html.TextBoxFor(model => model.Pontuacao, new { @type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Pontuacao)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PilarId, "Pilar")
        <select id="pilar-select2" class="js-example-basic-single" name="@Html.NameFor(m => m.PilarId)">
            @foreach (var pilar in Model.Pilares)
            {
                <option @(pilar.Id == Model.PilarId ? "selected" : "" ) value="@pilar.Id">@pilar.Titulo</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.PilarId)
    </div>

    <div class="btn-group btn-group-sm pull-right">
        <button id="cadastrar-pilar" type="submit" class="btn btn-sm btn-success" value="Salvar">Salvar</button>
        @Html.ActionLink("Voltar", "Listar", "Subtopico", null, new { @class = "btn btn-warning btn-sm" })
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
        });
    </script>
}
