@model  Maturidade_Online.Models.ProjetoModel
@{
    ViewBag.Title = "Projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>@(Model.Id.HasValue && Model.Id.Value > 0 ? "Editar" : "Cadastrar" ) @ViewBag.Title</legend>

<div class="alerta-erro">
    @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
    </div>
}

@using (Html.BeginForm("Salvar", "Projeto", FormMethod.Post, new { @class = "form-horizontal col-xs-12" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { maxlength = 100, @class = "form-control", placeholder = "Título" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ListaDeCaracteristicas)
        <div id="caracteristicas" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
            <select id="opcoes" name="@Html.NameFor(m => m.IdsCaracteristicas)" class="js-example-basic-multiple js-states form-control" multiple>
                @foreach (var caracteristica in Model.ListaDeCaracteristicas)
                {
                    <option value="@caracteristica.Id">@caracteristica.Nome</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.IdsCaracteristicas)
        </div>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-sm pull-right">
            <button id="cadastrar-pilar" type="submit" class="btn btn-sm btn-success" value="Salvar">Salvar</button>
            @Html.ActionLink("Voltar", "Listar", "Projeto", null, new { @class = "btn btn-warning btn-sm" })
            <button type="submit" class="btn btn-sm btn-sucess" value="Atualizar Gráfico" id="botao-grafico">
                <span class="glyphicon glyphicon-signal"></span> Gerar Gráfico
            </button>
        </div>
    </div>

    <div id="container-subtopicos-dados" class="form-group panel panel-default">
    </div>

}

@Html.Partial("_ModalGrafico")

@section scripts {
    <script src="~/Scripts/App/projeto.js"></script>
}

