@model  Maturidade_Online.Models.ProjetoModel
@{
    ViewBag.Title = "Manter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Salvar", "Projeto", FormMethod.Post, new { @class = "form-horizontal div-margin-top" }))
{



    @Html.AntiForgeryToken()

    <div class="login-erro">
        @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
    </div>

    @Html.HiddenFor(model => model.Id)
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info panel-manter">
            <div class="panel-heading">
                <div class="panel-title text-center">Projetos</div>
            </div>

            <div class="col-md-12 login-item">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", placeholder = "Nome do Projeto" })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

            </div>

            <div class="col-md-12 login-item">
                <div id="caracteristicas" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>


                    <select id="opcoes" name="@Html.NameFor(m => m.IdsCaracteristicas)" class="js-example-basic-multiple js-states form-control" multiple>
                        @foreach (var caracteristica in Model.ListaDeCaracteristicas)
                        {
                            <option value="@caracteristica.Id">@caracteristica.Nome</option>
                        }
                    </select>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.IdsCaracteristicas)
                    </div>


                </div>
            </div>

            <div class="row">
                <div id="container-subtopicos-dados" class="col-md-8 col-lg-offset-2"></div>
            </div>
            

            <div class="col-sm-12">
                <input type="submit" class="btn btn-sm btn-block" value="Cadastrar" />
            </div>

        </div>
    </div>
}





@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#opcoes").select2();
        });

        var $listagemSubtopicos = $('#container-subtopicos-dados');

        let lastParameter = $(location).attr('pathname');
        console.log(lastParameter);
        var numero = lastParameter.substr(lastParameter.length - 1);
        console.log(numero);
        //var numero = 2;
        //console.log(numero);
        //console.log($.isNumeric(lastChar));
        //console.log($.isNumeric(numero));

        if ($.isNumeric(numero)) {
            console.log('É numero');
        }

        $("#opcoes").change(function() {

            console.log('ola');
            let idsCaracteristicas = $(this).select2('data').map(c => parseInt(c.id))
            console.log('idsCaracteristicas', idsCaracteristicas);
            const urlGet = '@Url.Action("PesquisarSubtopicos", "Projeto")';
            jQuery.ajaxSettings.traditional = true;
            $.get(urlGet, { idsCaracteristicas })
                .done(response => {
                    console.log('response', response);
                    $listagemSubtopicos.html(response);
                });
            //let idCaracteristica = parseInt($(this).select2('data')[0].id);
            //console.log('idCaracteristica', idCaracteristica);
            //console.log('this', $(this).select2('data')[0].text);
            //console.log('subTopicos', $listagemSubtopicos)
            //$listagemSubtopicos.show();

        })



    </script>
}

