@model  Maturidade_Online.Models.ProjetoModel
@{
    ViewBag.Title = "Manter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Salvar", "Projeto", FormMethod.Post, new { @class = "form-horizontal div-margin-top" }))
{

    @Html.AntiForgeryToken()

    <div class="login-erro">
        @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
    </div>

    @Html.HiddenFor(model => model.Id)
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info panel-manter">
            <div class="panel-heading">
                <div class="panel-title text-center">Projetos</div>
            </div>

            <div class="col-md-12 login-item">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", placeholder = "Nome do Projeto" })
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

            </div>

            <div class="col-md-12 login-item">
                <div id="caracteristicas" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>


                    <select id="opcoes" name="@Html.NameFor(m => m.IdsCaracteristicas)" class="js-example-basic-multiple js-states form-control" multiple>
                        @foreach (var caracteristica in Model.ListaDeCaracteristicas)
                        {
                            <option value="@caracteristica.Id">@caracteristica.Nome</option>
                        }
                    </select>
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => model.IdsCaracteristicas)
                    </div>


                </div>
            </div>

            <div class="row">
                <div id="container-subtopicos-dados" class="col-md-8 col-lg-offset-2"></div>
            </div>
            

            <div class="col-sm-12">
                <input type="submit" class="btn btn-sm btn-block" value="Cadastrar" />
            </div>

            <div class="col-sm-12">
                <input type="submit" class="btn btn-sm btn-block" value="Atualizar Gráfico" id="botao-grafico" />
            </div>


            <canvas id="myChart" width="400" height="400"></canvas>

        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">

        // Instanciar SELECT2 ao carregar página
        $(document).ready(function () {
            $("#opcoes").select2();
        });

        // Função para trazer lista de subtópicos quando há alteração na seleção das Características
        var $listagemSubtopicos = $('#container-subtopicos-dados');
        $("#opcoes").change(function() {
            let idsCaracteristicas = $(this).select2('data').map(c => parseInt(c.id));
            const urlGet = '@Url.Action("PesquisarSubtopicos", "Subtopico")';
            jQuery.ajaxSettings.traditional = true;
            $.get(urlGet, { idsCaracteristicas })
                .done(response => {
                    $listagemSubtopicos.html(response);
                }).fail(function(resposta){
                    console.log(resposta)});

        })

        // Função para criar o gráfico quando clicado no botão
        var $divGrafico = $('#grafico');
        var $botaoGrafico = $("#botao-grafico");
        $botaoGrafico.click(function (event) {
            event.preventDefault();
            var labels = [];
            @foreach(var label in Model.PilaresPontuacao)
            {
                @:labels.push("@label.Titulo");
            }
            console.log(labels);

            // Inicio captação IDs
            var dados = $('input:checked').map(function () {
                return $(this).data ();
            }).get();
            console.log(dados);
            // Fim captação IDs

            var data = [];
            @foreach(var data in Model.PilaresPontuacao)
            {
                @:data.push("@data.PontuacaoTotal");
            }
            console.log(data);

            var dadosTabela = {
                labels: labels,
                datasets: [
                    {
                        label: "Vida no Crescer",
                        backgroundColor: "rgba(179,181,198,0.2)",
                        borderColor: "rgba(179,181,198,1)",
                        pointBackgroundColor: "rgba(179,181,198,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(179,181,198,1)",
                        data: dados
                    }]
            };

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'radar',
                data: dadosTabela
            });
        })

    </script>
}

