@model ICollection<Maturidade_Online.Models.PilarViewModel>
@{
    ViewBag.Title = "ListarPilares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Pilares Cadastrados</h2>

<table id="listar-pilares" class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayName("Pilar")
            </th>
            <th class="text-center">
                @Html.DisplayName("Pontuação")
            </th>
            <th class="text-center">
                @Html.DisplayName("Subtópicos")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pilar in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => pilar.Titulo)
                </td>
                <td class="text-center">
                    @pilar.Subtopicos.Sum(_ => _.Pontuacao)
                </td>
                <td>
                    @foreach (var subtopico in pilar.Subtopicos)
                {
                        <div class="tags">@Html.DisplayName(subtopico.Nome)</div>
                    }

                </td>
                <td>
                    <a class="glyphicon glyphicon-pencil" href="~/Pilar/Manter/@pilar.Id.Value"></a>
                </td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="~/Pilar/Excluir/@pilar.Id.Value"></a>
                </td>

            </tr>
        }
    </tbody>
</table>
