@model  Maturidade_Online.Models.PilarViewModel
@{
    ViewBag.Title = "Pilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <legend>@(Model.Id.HasValue && Model.Id.Value > 0?"Editar":"Cadastrar" ) @ViewBag.Title</legend>
</div>

<div class="alerta-erro">
    @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
    </div>
}

@using (Html.BeginForm("Salvar", "Pilar", FormMethod.Post, new { @class = "form-horizontal col-xs-12" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", placeholder = "Título" })
        @Html.ValidationMessageFor(model => model.Titulo)
    </div>
    <div class="form-group">
        <button id="cadastrar-pilar" type="submit" class="btn btn-sm btn-success pull-right" value="Salvar">Salvar</button>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Subtópicos</strong>
        <a href="/Subtopico/Manter" class="btn btn-xs btn-success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Novo Subtópico</span>
        </a>
    </div>
    <div class="panel-body">
        @if (Model.Subtopicos != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subtópico</th>
                        <th class="text-center">Pontuação</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Subtopicos.Count == 0)
                    {
                        <tr>
                            <td colspan="12">Nenhum subtópico encontrado.</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var subtopico in Model.Subtopicos)
                        {
                            <tr>
                                <td>@subtopico.Nome</td>
                                <td class="text-center">@subtopico.Pontuacao</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        } else
        {
            <div>Este pilar não possui nenhum subtópico.</div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Voltar", "Listar", "Pilar", "", new { @class = "btn btn-default pull-right" })
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}